.registrations_item {
  padding: 0 0 10px 5px;
  margin: 0 10px;
  font-size: 16px;
}

.registrations_item-detail {
  padding: 5px;
  margin-top: 5px;
  border: 0;
  border-radius: 5px;
  background-color: #111;
  color: #fff;
  font-size: 16px;
}

.registrations_item-detail::placeholder {
  color: #bbb;
}

.registrations_item input {
  border-radius: 5px;
}
